# 🚢 Titanic Veri Seti Analizi Ödevi

Bu ödevde Titanic veri seti üzerinde pandas kütüphanesi kullanarak veri analizi yapacaksınız. Sorular kolay seviyeden başlayarak zorlaşmaktadır.

## 📋 Ödev Kuralları:
- Her soruyu ayrı bir hücrede çözün
- Kodlarınızı açıklayıcı yorumlarla destekleyin
- Sonuçları yorumlayın
- Grafik çizilebilecek yerlerde görselleştirme yapın

## 📊 Veri Seti Hakkında:
Titanic veri seti, 1912'de batan Titanic gemisindeki yolcular hakkında bilgi içerir.

**Sütun Açıklamaları:**
- `survived`: Hayatta kalma durumu (0 = Hayır, 1 = Evet)
- `pclass`: Yolcu sınıfı (1 = 1. sınıf, 2 = 2. sınıf, 3 = 3. sınıf)
- `sex`: Cinsiyet
- `age`: Yaş
- `sibsp`: Gemide bulunan kardeş/eş sayısı
- `parch`: Gemide bulunan ebeveyn/çocuk sayısı
- `ticket`: Bilet numarası
- `fare`: Bilet ücreti
- `cabin`: Kabin numarası
- `embarked`: Bindiği liman (C = Cherbourg, Q = Queenstown, S = Southampton)

---
# ✅ TEMEL SEVİYE SORULAR (KOLAY)
---

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Soru 1: Veri setinde kaç satır ve kaç sütun olduğunu bulun.

In [ ]:
df.shape

(891, 12)

### Soru 2: Tüm sütun isimlerini yazdırın.

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Soru 3: Yaş ortalamasını ve medyanını hesaplayın.

In [ ]:
# Yaş ortalaması
yas_ortalama = df["Age"].mean()

# Yaş medyanı
yas_medyan = df["Age"].median()

# Sonuçları yazdır
print("Yaş Ortalaması:", yas_ortalama)
print("Yaş Medyanı:", yas_medyan)

Yaş Ortalaması: 29.69911764705882
Yaş Medyanı: 28.0

### Soru 4: Cinsiyet değişkenindeki eşsiz değerleri yazdırın.

In [ ]:
df["Sex"].unique()

array(['male', 'female'], dtype=object)

### Soru 5: `pclass` değişkenindeki değerlerin yüzdesel dağılımını yazdırın.

In [ ]:
df["Pclass"].value_counts(normalize=True)

Pclass
3    0.551066
1    0.242424
2    0.206510
Name: proportion, dtype: float64

### Soru 6: Yaşı 30'dan büyük kadın yolcuları listeleyin.

In [ ]:
df[df["Age"]>30].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

### Soru 7: Yaşı 18'den küçük olup 1. sınıfta yolculuk eden yolcuları listeleyin.

In [ ]:
df[(df["Age"]<18) & (df["Pclass"]==1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S

### Soru 8: İlk 10 gözlemden son 3'ünü gösterin.

In [ ]:
df.head(10).tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Soru 9: Bilet fiyatı (fare) 100'den büyük olan kaç kişi vardır?

In [ ]:
df[df["Fare"]>100].value_counts().head()

PassengerId  Survived  Pclass  Name                            Sex     Age   SibSp  Parch  Ticket    Fare      Cabin        Embarked
28           0         1       Fortune, Mr. Charles Alexander  male    19.0  3      2      19950     263.0000  C23 C25 C27  S           1
89           1         1       Fortune, Miss. Mabel Helen      female  23.0  3      2      19950     263.0000  C23 C25 C27  S           1
119          0         1       Baxter, Mr. Quigg Edmond        male    24.0  0      1      PC 17558  247.5208  B58 B60      C           1
196          1         1       Lurette, Miss. Elise            female  58.0  0      0      PC 17569  146.5208  B80          C           1
216          1         1       Newell, Miss. Madeleine         female  31.0  1      0      35273     113.2750  D36          C           1
Name: count, dtype: int64

### Soru 10: `sex`, `age` ve `fare` sütunlarından oluşan yeni bir DataFrame oluşturun.

In [ ]:
yeni_df=[["sex","age","fare"]]
print(yeni_df)

[['sex', 'age', 'fare']]

---
# ⚙️ ORTA SEVİYE SORULAR
---

### Soru 1: Cinsiyete göre yaş ortalamasını bulun.

In [ ]:
df.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Soru 2: Sınıfa göre hayatta kalan kişi sayısını bulun.

In [ ]:
df.groupby("Pclass")["Survived"].value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: count, dtype: int64

### Soru 3: Hem cinsiyet hem sınıfa göre hayatta kalma oranlarını hesaplayın.

In [ ]:
df.groupby(["Sex","Pclass"])["Survived"].mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

### Soru 4: Embarked değişkenine göre ortalama yaş ve ortalama ücret nedir?

In [ ]:
df.groupby("Embarked")[["Age","Fare"]].mean()

                Age       Fare
Embarked
C         30.814769  59.954144
Q         28.089286  13.276030
S         29.445397  27.079812

### Soru 5: Pclass gruplarına göre yaşın standart sapmasını bulun.

In [ ]:
df.groupby("Pclass")["Age"].std()

Pclass
1    14.802856
2    14.001077
3    12.495398
Name: Age, dtype: float64

### Soru 6: Her `Embarked` limanından kaç yolcu olduğunu ve bunların yüzdelik dağılımını yazdırın.

In [ ]:
embarked_counts=df['Embarked'].value_counts(dropna=False)
embarked_per=df['Embarked'].value_counts(normalize=True,dropna=False)*100

In [ ]:
sonuc= pd.DataFrame({
    'Yolcu Sayısı': embarked_counts,
    'Yüzde (%)': embarked_per.round(2)
})
print(sonuc)

          Yolcu Sayısı  Yüzde (%)
Embarked
S                  644      72.28
C                  168      18.86
Q                   77       8.64
NaN                  2       0.22

### Soru 7: Yaşı 60'tan büyük olanların hayatta kalma oranını bulun.

In [ ]:
df.groupby(df["Age"]>60)["Survived"].mean()

Age
False    0.387802
True     0.227273
Name: Survived, dtype: float64

In [ ]:
# Yaşı 60'tan büyük olanları filtrele
older_than_60 = df[df['Age'] > 60]

# Hayatta kalanları (survived == 1) say
survived_count = older_than_60['Survived'].sum()

# Toplam 60 yaş üstü yolcu sayısı
total_older = older_than_60.shape[0]

# Hayatta kalma oranı
if total_older > 0:
    survival_rate = survived_count / total_older
    print(f"60 yaş üstü yolcuların hayatta kalma oranı: {survival_rate:.2%}")
else:
    print("Veride 60 yaş üstü yolcu yok.")

60 yaş üstü yolcuların hayatta kalma oranı: 22.73%

### Soru 8: `Sex`, `Pclass`, `Survived` için `groupby()` + `agg()` ile ortalama yaş ve ücret hesaplayın.

In [ ]:
df.groupby(["Pclass","Sex","Survived"]).agg({
    "Age":"mean",
     "Fare":"mean"
})

                              Age        Fare
Pclass Sex    Survived
1      female 0         25.666667  110.604167
              1         34.939024  105.978159
       male   0         44.581967   62.894910
              1         36.248000   74.637320
2      female 0         36.000000   18.250000
              1         28.080882   22.288989
       male   0         33.369048   19.488965
              1         16.022000   21.095100
3      female 0         23.818182   19.773093
              1         19.329787   12.464526
       male   0         27.255814   12.204469
              1         22.274211   15.579696

### Soru 9: Age değişkenini artan düzende sıralayın ve ilk 10 kişiyi yazdırın.

In [ ]:
df.sort_values(by="Age",ascending=True).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S

---
# 🧠 KİRLENMEK GÜZELDİR SORULARI :)
---

### Soru 1: En pahalı bileti alan kişinin yaşı, cinsiyeti ve sınıfı nedir?

In [ ]:
#df['Fare'].idxmax()=fare sutunundaki en yüksek değerin indexini verir.
#loc etikete göre
df.loc[df['Fare'].idxmax(), ['Age', 'Sex', 'Pclass']]

Age         35.0
Sex       female
Pclass         1
Name: 258, dtype: object

### Soru 2: Hayatta kalanlar ile ölenler arasında yaş ortalamaları farkı nedir?

In [ ]:
# Kodunuzu buraya yazın
mean_age=df.groupby("Survived")["Age"].mean()

In [ ]:
diff=mean_age[1]-mean_age[0]
print(diff)

-2.282489590110604

### Soru 3: Hangi `Pclass` grubunda kadınların hayatta kalma oranı en yüksektir?

In [ ]:
# Kodunuzu bur
female=df[df["Sex"]=="female"]
survival_rates = female.groupby('Pclass')['Survived'].mean()
max_rate = survival_rates.max()
max_class = survival_rates.idxmax()
print(max_class)

1

### Soru 4: Ortalama yaşın altında olan ve hayatta kalan erkeklerin sayısı kaçtır?

In [ ]:
# Kodunuzu buraya yazın
avg_age=df["Age"].mean()
survivors=df[
    (df['Sex']=='male') &
    (df['Survived']==1) &
    (df['Age'] < avg_age)
].shape[0]
print(survivors)

51

### Soru 5: `Cabin` değeri eksik olmayanların yaş ortalaması ile eksik olanların yaş ortalaması arasında fark var mı?

In [ ]:
# Kodunuzu buraya yazın

cabin_isnull=df[df["Cabin"].isnull()]

In [ ]:
cabin_notnull=df[df["Cabin"].notnull()]

In [ ]:
print("Cabin bilgisi olanların yaş ortalaması:", cabin_isnull['Age'].mean())
print("Cabin bilgisi olmayanların yaş ortalaması:", cabin_notnull['Age'].mean())

Cabin bilgisi olanların yaş ortalaması: 27.55529300567108
Cabin bilgisi olmayanların yaş ortalaması: 35.829297297297295

### Soru 6: `.describe()` çıktısına göre çarpıklık var mı? Hangi değişkenlerde?

In [ ]:
# Kodunuzu buraya yazın
df.describe().T
#Fare,SibSp,Parch,Age değişkenlerinde çarpıklık var
#Age değişkeni ortalama>medyan
#Fare pozitif çarpıklık

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

### Soru 7: Veri setindeki en fazla tekrarlanan yaş değeri (mod) nedir?

In [ ]:
# Kodunuzu buraya yazın
mod_age = df['Age'].mode()

print("Yaş değişkeninin modu (en sık görülen yaş):", mod_age.values)

Yaş değişkeninin modu (en sık görülen yaş): [24.]

### Soru 8: Ortalama bilet fiyatı kadınlar mı yoksa erkekler için mi daha yüksek?

In [ ]:
# Kodunuzu buraya yazın
df.groupby('Sex')['Fare'].mean()
#Kadınlar erkeklere göre daha pahalı biletler satın almışlardır.

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64